.epic-switch {
    display: inline-block;
}

.epic-switch a+a {
    margin-left: 5px;
}

.openlucius-epic-task-lists .table>thead>tr>th {
    background-color: #E6E6E6;
}

.openlucius-epic-task-lists .table>tbody>tr>td {
    background-color: #FFF;
}

.openlucius-epic-task-lists .table>thead>tr>th.epic-header-priority,
.openlucius-epic-task-lists .table>tbody>tr>td.epic-body-priority {
    text-align: center;
    width: 60px;
    background-color: #ECF4FD;
}

.openlucius-epic-task-lists .table>thead>tr>th.epic-header-priority {
    background-color: #81A8CF;
    color: #fff;
}

.openlucius-epic-task-lists .draggable .epic-body-priority>a.tabledrag-handle {
    width: 100%;
    margin-left: -0.5em;
}

.openlucius-epic-task-lists .draggable .epic-body-title>a {
    font-weight: 700;
}

.story-slider {
    padding: 0px;
}

.story-slider-wrapper .rangeslider--horizontal .rangeslider,
.story-slider-wrapper .rangeslider--horizontal .rangeslider__fill {
    display: block;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.story-slider-wrapper .rangeslider--horizontal {
    background: inherit;
    box-shadow: none;
}

.story-slider-wrapper .rangeslider--horizontal .rangeslider__handle {
    display: none;
}

.story-slider-wrapper .rangeslider--horizontal .rangeslider__fill {
    background-color: #D1E0EF;
    height: 10px;
}

.epic-progress-wrapper .progress {
    height: 20px;
    padding: 0px;
    border: none;
    border-radius: 5px;
}

.epic-progress-wrapper .progress .progress-epic-start {
    background-color: #55BD10
}

.epic-progress-wrapper .progress .progress-epic-in-progress {
    background-color: #B3DA82
}

.epic-progress-wrapper .progress .progress-epic-stop {
    background-color: #DAE9F0;
}

.milestone-card,
.milestone-card-empty {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 3px 3px #888888;
}

.milestone-card-header,
.milestone-card-body {
    padding: 5px 10px;
}

.milestone-card-header-body {
    color: #aaaaaa;
}

.milestone-card-title {
    padding: 10px 0px;
    font-weight: bolder;
    font-size: 20px;
}

.milestone-card-header {
    border-bottom: 1px solid #cccccc;
    min-height: 135px;
}

.milestone-card-body {
    min-height: 60px;
}

.milestone-row i,
.milestone-row .epic-title-wrapper {
    display: inline-block;
}