.page-milestone-list .region.region-content.well {
    background-color: #f2f2f2 !important;
    border: none;
    box-shadow: none;
}

.epic-switch {
    display: inline-block;
}

.epic-switch a+a {
    margin-left: 5px;
}

.epic-switch a {
    background: #666666;
    color: #E3E3E3;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 4px;
}

.epic-switch a {
    padding-left: 10px;
    padding-right: 10px;
}

.epic-switch a.active {
    background: #E3E3E3;
    color: #666666
}

.epic-switch a:hover,
.epic-switch a:active {
    background: #F3F3F3;
    color: #777777 !important;
    text-decoration: none !important
}

.epic-switch a.active:hover {
    background: #777777;
    color: #F3F3F3 !important;
}

.openlucius-epic-task-lists .table>thead>tr>th {
    background-color: #E6E6E6;
}

.openlucius-epic-task-lists .table>tbody>tr>td {
    background-color: #FFF;
}

.openlucius-epic-task-lists .table>thead>tr>th.epic-header-priority,
.openlucius-epic-task-lists .table>tbody>tr>td.epic-body-priority {
    text-align: center;
    width: 60px;
    background-color: #ECF4FD;
}

.openlucius-epic-task-lists .table>thead>tr>th.epic-header-priority {
    background-color: #81A8CF;
    color: #fff;
}

.openlucius-epic-task-lists .draggable .epic-body-priority>a.tabledrag-handle {
    width: 100%;
    margin-left: -0.5em;
}

.openlucius-epic-task-lists .draggable .epic-body-title>a {
    font-weight: 700;
}

.story-slider {
    padding: 0px;
}

.story-slider-wrapper .rangeslider--horizontal .rangeslider,
.story-slider-wrapper .rangeslider--horizontal .rangeslider__fill {
    display: block;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.story-slider-wrapper .rangeslider--horizontal {
    background: inherit;
    box-shadow: none;
}

.story-slider-wrapper .rangeslider--horizontal .rangeslider__handle {
    display: none;
}

.story-slider-wrapper .rangeslider--horizontal .rangeslider__fill {
    background-color: #D1E0EF;
    height: 10px;
}

.epic-progress-wrapper .progress {
    height: 20px;
    padding: 0px;
    border: none;
    border-radius: 5px;
}

.milestone-card-header-body .progress .progress-epic-start,
.epic-progress-wrapper .progress .progress-epic-start {
    background-color: #55BD10
}

.view-id-milestone_list {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f2f2f2;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: inherit;
    width: 100%;
    white-space: nowrap;
    padding: 10px;
}

.view-id-milestone_list * {
    white-space: normal;
}

.milestone-card-header-body .progress .progress-epic-in-progress,
.epic-progress-wrapper .progress .progress-epic-in-progress {
    background-color: #B3DA82
}

.milestone-card-header-body .progress .progress-epic-stop,
.epic-progress-wrapper .progress .progress-epic-stop {
    background-color: #DAE9F0;
}

.milestone-card,
.milestone-card-empty {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 3px 3px #888888;
}

.milestone-card-empty {
    background-color: #F3FAFB;
}

.milestone-card-header,
.milestone-card-body-row {
    padding: 10px;
}

.milestone-card-body-row {
    border-top: 1px solid #cccccc;
}

.milestone-card-header-body {
    color: #aaaaaa;
    clear: both;
}

.milestone-state-status {
    float: left;
    font-size: 10px;
    border: 1px solid #A3A3A3;
    color: #A3A3A3;
    padding: 3px;
    border-radius: 4px;
}

.milestone-state-status i {
    margin-right: 5px;
}

.milestone-card-title {
    font-weight: bolder;
    font-size: 20px;
}

.milestone-card-header {
    min-height: 135px;
}

.milestone-card-body {
    min-height: 60px;
}

.milestone-row i,
.milestone-row .epic-title-wrapper {
    float: left;
    line-height: 25px;
    margin-bottom: 5px;
}

.milestone-row i {
    padding-right: 5px;
}

.milestone-row .epic-title-wrapper span {
    font-weight: bolder;
}

.milestone-epic-header-progress {
    clear: both;
    width: 50px;
    margin-left: 20px;
}

.milestone-epic-header-progress .epic-progress-wrapper .progress {
    height: 10px;
    margin-bottom: 0px;
    background-color: #DAE9F0;
}

.milestone-state {
    font-size: 12px;
    font-weight: lighter;
}

.milestone-card-header-body .progress {
    margin-bottom: 0px;
}

.milestone-card-header-body .progress-text {
    font-size: 14px;
    font-weight: bolder;
    color: #000000;
    padding-top: 10px;
}

.milestone-state-count {
    padding: 3px;
    float: left;
    >>>>>>>master
}